.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: palevioletred;
  justify-content: center;
}

.text {
  color: black;
  padding: 10px;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
}
